
  .counter .box-container{
    display: flex;
    justify-content: center;
    padding:1rem 0;
  }
  
  .counter .box-container .box{
    margin:1rem 4rem;
    text-align: center;
  }
  
  .counter .box-container .box .i{
    color: green;
    font-size: 5rem;
  }
  
  .counter .box-container .box span{
    color:var(--black);
    font-size: 3rem;
    display: block;
    padding:1rem 0;
  }
  
  .counter .box-container .box h3{
    color:#666;
  }
