.doctor_container {
    margin-left: 100px;
    margin-right: 100px;
  }
  #ourdoctor {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
  }
  .doctorh1 {
    font-size: 36px;
    color: #555;
    font-weight: bold;
  }
  .doctorh5 {
    font-size: 26px;
    color: #333;
    font-weight: bold;
  }
  #ourdoctor img {
    margin-top: -50px;
    height:130px;
    width: 130px;;
  }
  #team i {
    font-size: 35px;
    color: #555;
  
  }
  #team p {
    font-weight: 500;
  }
  .cardxx{
    padding-bottom: 20px;
  }
  #ourdoctor .card {
   
    max-height:350px;
    min-height:350px !important;
    border-radius: 0;
    box-shadow: 5px 5px 15px rgb(30, 77, 146);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
  }
  /* background-image: linear-gradient(170deg, rgb(0, 198, 167), rgb(30, 77, 146)); */
  #ourdoctor .card:hover {
    /* background: #e74c3c; */
    background-image: linear-gradient(170deg, rgb(0, 198, 167), rgb(30, 77, 146));
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
  }
  #ourdoctor .card:hover h3,
  #ourdoctor .card:hover i {
    color: #fff;
  }
  .doctorh3{
    font-size: 20px;
    padding-bottom: 8px;
  }
  