.productcard {
  position: relative;
  width: 270px;
  height: 320px;
  /* margin-top: 3.5rem; */
  margin: 3.5rem 1rem;
  border: 0.1rem #c0c0c0 solid;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.productcard::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
}
.productcard::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  color: rgba(0, green, blue, alpha);
}
.productcard .imgBx {
  padding-top: 20px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.productcard .imgBx img {
  max-width: 100%;
  transition: 0.5s;
}
.productcard .contentBx {
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.productcard .contentBx h5 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
